<?xml version="1.0" encoding="UTF-8"?>
<settings 
    xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>shs-localDevelopment</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <crx_url>http://localhost:4502</crx_url>
                <crx_user>admin</crx_user>
                <crx_password>admin</crx_password>
            </properties>
        </profile>
    </profiles>
</settings>