# Ignore compilation results
target
bundle/action/src/main/resources
bundle/framework/src/main/resources
bundle/gateway/src/main/resources
bundle/service/src/main/resources
bundle/taglib/src/main/resources
pdf2jpg/.settings
pdf2jpg/.settings
pdf2jpg/.gitignore
 
# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store
.vlt